.bg-default {
  background: #d2d6de !important;
}
.bg-primary {
  background: #3c8dbc !important;
}
.bg-info{
  background:#20A0FF !important;
}
.bg-success{
  background:#13CE66 !important;
}
.bg-warning{
  background:#F7BA2A !important;
}
.bg-danger{
  background:#FF4949 !important;
}


.bt-color-primary {
  border-top-color: #3c8dbc !important;
}
.bt-color-info {
  border-top-color: #00c0ef !important;
}
.bt-color-danger {
  border-top-color: #dd4b39 !important;
}
.bt-color-warning {
  border-top-color: #f39c12 !important;
}
.bt-color-success {
  border-top-color: #00a65a !important;
}
.bt-color-default {
  border-top-color: #d2d6de !important;
}

.b-color-primary {
  border-color: #3c8dbc !important;
}
.b-color-info {
  border-color: #00c0ef !important;
}
.b-color-danger {
  border-color: #dd4b39 !important;
}
.b-color-warning {
  border-color: #f39c12 !important;
}
.b-color-success {
  border-color: #00a65a !important;
}
.b-color-default {
  border-color: #d2d6de !important;
}
